.containerView {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	margin-top: 4rem;
	margin-bottom: 4rem;
	margin-left: 5rem;
}

@media (max-width: 412px) {
	.containerView {
		display: flex;
		flex-wrap: wrap;
		gap: 15px;
		margin-top: 4rem;
		margin-bottom: 4rem;
		margin-left: 3rem;
	}
}
